# **The Basic Concept of Zelibe Ugwuanyi Method**
*By: Iyas Yustira, Dena Supriyanto*

**Reference**: [Zelibe, Samuel & Ugwuanyi, C. (2019). ON A NEW SOLUTION OF THE TRANSPORTATION PROBLEM](https://www.researchgate.net/publication/335972372_ON_A_NEW_SOLUTION_OF_THE_TRANSPORTATION_PROBLEM)

## **Model of Transportation Problem**

$$Minimize \hspace{0.3cm} Z = \sum_{i=1}^{m} X_{ij} C_{ij}$$

$$\sum_{j=1}^n X_{ij} \leq a_i, i = 1, 2, 3 \dots, m \hspace{0.3cm} (Demand \hspace{0.3cm} constraint)$$

$$\sum_{i=1}^m X_{ij} \geq b_j, j = 1, 2, 3, \dots, n \hspace{0.3cm} (Supply \hspace{0.3cm} constraint) $$

$$X_{ij} \geq 0,1,2,3,\dots,n$$

Where:
* m is the number of resources.
* n is the number of destinations.
* $a_i$ is the capacity of i th source.
* $b_j$ is the demand of j th destination.
* $c_{ij}$ is the the unit transportation cost between $i_{th}$ source and $j_{th}$
destination (in naira or as a distance in kilometers, miles, etc.)
* $x_{ij}$ is the size of material transported between $i_{th}$ source and $j_{th}$
destination (in tons, pounds, liters etc.)

A transportation problem is said to be unbalanced if and only if

$$\sum_{i=1} a_i \neq \sum_{i=1} b_j$$

There are two cases:

**Case (1)**
$$\sum_{i=1} a_i > \sum_{i=1} b_j$$

**Case (2)**
$$\sum_{i=1} a_i < \sum_{i=1} b_j$$

To balance the Transportation Problem, Introduce a dummy origin or source in the transportation table with a zero cost. The availability at this origin is:

$$\sum_{i=1} a_i - \sum_{i=1} b_j = 0$$

## **Table And Network Representation**
1. The Transportation Network
<img src="img/Transportation network.png" width=350px>

2. The Transportation Table
<img src="img/Transportation Table.png" width=350px>

## **Solution of The Transportation Problem**
* The problem is formulated as a transportation model
* Is the transportation model balanced?
* If yes, go to next step, else add dummy to the rows or column.
* Determine initial basic solutions.
* Go to next step if the solution is optimized else Go to fourth step.
* Using the optimal solution ,calculate the total transportation cost.

## **ZU Algorithm**

The ZU method uses the concept of penalty for its iterations. It determines this penalty by finding the sum of the differences between the least cost and every other cost in the row or column and adding it to the number of rows or columns.

**The Steps Include**

1). Prepare a balanced transportation table\
2). For every row:
* Determine the difference between the least cost and every other cost in that row
* Add these differences together with the number of ROWS present at the table.(This becomes the penalty for that row).
* Write this penalty at the RHS of the row
3). For every Column:
* Determine the difference between the least cost and every other cost in that column.
* Add these differences together with the number of COLUMNS present at the table.(This becomes the penalty for that column).
* Write this penalty at the bottom of the column.

4). Select the row or column having the greatest penalty. \
5). Allocate as much as possible to the cell in that row or column having the least cost.\
6). In case of tie in the penalties, select the row or column
having the greatest least cost.\
7). Repeat steps 2 to 6 until all allocations have been made.

## **Build The Alghorithm**

### **Illustration 1**

Consider the table where $X_{ij}$ is the number of
wheat (in tons) transported from each grain house to each mill $(i, j = 1, 2, 3)$. The total transportation cost for each route is the objective function. The solution is the number of tons of wheat to be transported from house to mill so as to minimize total cost of transportation.

<img src="img/table 1.png" width=350px>

### **Solving The Problem**

**Step 1**

Prepare the transportation table.

In [1]:
import pandas as pd
import numpy as np

d = {'Index': ['A', 'B', 'C', 'Demand'], 
     '1': [6, 7, 4, 200],
     '2': [8, 11, 5, 100],
     '3': [10, 11, 12, 300],
     'Supply': [150, 175, 275, 0]}
data = pd.DataFrame(data=d)
data.set_index('Index', inplace=True)
data

          1    2    3  Supply
Index
A         6    8   10     150
B         7   11   11     175
C         4    5   12     275
Demand  200  100  300       0

**Step 2**

The transportation table should have a balanced data $(\sum_i^m a_i = \sum_j^n b_i)$. If the transportation is unbalanced data $(\sum_i^m a_i \neq \sum_j^n b_i)$, add a dummy data into row/column with the number of supply/demand as follows:

For row:

$$ a_{dum} = \sum_j^n b_i - \sum_i^m a_i \hspace{1cm} $$

For column:

$$ b_{dum} = \sum_i^m a_i - \sum_j^n b_i $$

In [2]:
def is_balanced(data):
    sum_a = data['Supply'].sum()
    sum_b = data.loc['Demand'].sum()

    if sum_a < sum_b:
        print('Supply < Demand : {:d} < {:d}'.format(sum_a, sum_b))
        data_T = data.T
        dm = data_T.pop('Demand')
        data_T['Dum'] = np.zeros(len(dm)).astype(int)
        data_T['Demand'] = dm
        data = data_T.T
        data.loc['Dum', 'Supply'] = sum_b - sum_a
    elif sum_a > sum_b:
        print('Supply > Demand : {:d} > {:d}'.format(sum_a, sum_b))
        Supply = data.pop('Supply').reset_index()
        data['Dum'] = np.zeros(len(data.index)).astype(int)
        data['Supply'] = Supply.Supply.to_numpy()
        data.loc['Demand', 'Dum'] = sum_a - sum_b
    else: 
        print('Supply = Demand : {:d}'.format(sum_a))
        pass
    
    return data

In [3]:
data = is_balanced(data)

Supply = Demand : 600

Our table is a balanced data where the total supply and demand is 600, so we can continue to the next step.

**Step 3**

Calculate the penalty values from each rows and columns using equation bellow: 

**Case 1:**

* For row penalty, when $n \geq 2$ and $m \geq 2$
$$ Rp_{i} = \sum_{j=1}^{n} \Big(x_{ij} - x_{i_{min}} \Big) + n$$

* For column penalty, when $m \geq 2$ and $n \geq 2$
$$ Cp_j = \sum_{i=1}^{m} \Big(x_{ij} - x_{j_{min}} \Big) + m$$

**Case 2:**

* For row penalty, when $n = 2$ and $m \leq 2$
$$ Rp_i = \sum_{j=1}^{n} \Big(x_{ij} - x_{i_{min}} \Big)$$

* For column penalty, when $m = 2$ and $n \leq 2$
$$ Cp_j = \sum_{i=1}^{m} \Big(x_{ij} - x_{j_{min}} \Big)$$

**Case 3:**

* For row penalty, when $n = 1$ and $m > 2$
$$ Rp_i = x_{ij} + m $$

* For column penalty, when $m = 1$ and $n > 2$
$$ Cp_j = x_{ij} + n$$

**Case 4:**

* Row penalty when $n = 1$ and $m <= 2$
$$ Rp_i = x_{ij} $$

* Column penalty when $m = 1$ and $n <= 2$
$$ Cp_j = x_{ij}$$

In [4]:
def penalty(data):
    data['Penalty'] = np.zeros(data.shape[0]).astype(int)
    data.loc['Penalty'] = np.zeros(data.shape[1]).astype(int)
    
    m = data.index[:-2]    
    n = data.columns[:-2]
    
    # Row penalty
    if len(n) == 1 and len(m) <= 2:
        for i in m:
            data.loc[i, 'Penalty'] = data.loc[i][:-2].max()
    elif len(n) == 1 and len(m) > 2:
        for i in m:
            data.loc[i, 'Penalty'] = data.loc[i][:-2].max() + len(m)
    elif len(n) == 2 and len(m) <= 2:
        for i in m:
            xj_min = data.loc[i][:-2].min()
            data.loc[i, 'Penalty'] = (data.loc[i][:-2] - xj_min).sum()  
    else:
        for i in m:
            xj_min = data.loc[i][:-2].min()
            data.loc[i, 'Penalty'] = (data.loc[i][:-2] - xj_min).sum() + len(m)
    
    # Column penalty
    if len(m) == 1 and len(n) <= 2:
        for j in n:
            data.loc['Penalty', j] = data[j][:-2].max()
    elif len(m) == 1 and len(n) > 2:
        for j in n:
            data.loc['Penalty', j] = data[j][:-2].max() + len(n)
    elif len(m) == 2 and len(n) <= 2:
        for j in n:
            xi_min = data[j][:-2].min()
            data.loc['Penalty', j] = (data[j][:-2] - xi_min).sum()
    else:
        for j in n:
            xi_min = data[j][:-2].min()
            data.loc['Penalty', j] = (data[j][:-2] - xi_min).sum() + len(n)
        
    return data

In [5]:
data = penalty(data)
data

           1    2    3  Supply  Penalty
Index
A          6    8   10     150        9
B          7   11   11     175       11
C          4    5   12     275       12
Demand   200  100  300       0        0
Penalty    8   12    6       0        0

**Step 4**

Find the largest penalty and identify the least cost $x_{ij}$ in the corresponding row/column for cell allocation. If there is a tie between penalty row/column take the greatest least cost.

In [6]:
def cell_allocation(data):
    rp_max = data['Penalty'][:-2].max()
    cp_max = data.loc['Penalty'][:-2].max()
    
    m = data['Penalty'][:-2][data['Penalty'][:-2] == rp_max].index
    n = data.loc['Penalty'][:-2][data.loc['Penalty'][:-2] == cp_max].index
    
    glc_r = {}
    glc_c = {}
    
    if rp_max == cp_max: 
        for i in m:
            glc_r[data.loc[i][:-2].min()] = i
        for j in n:
            glc_c[data[j][:-2].min()] = j   
        if max(glc_r) > max(glc_c):
            Ri = glc_r[max(glc_r)]
            Cj = data.loc[Ri][:-2][data.loc[Ri][:-2] == max(glc_r)].index[0]
        else:
            Cj = glc_c[max(glc_c)]
            Ri = data[Cj][:-2][data[Cj][:-2] == max(glc_c)].index[0]
    elif rp_max > cp_max:
        for i in m:
            glc_r[data.loc[i][:-2].min()] = i
        Ri = glc_r[max(glc_r)]
        Cj = data.loc[Ri][:-2][data.loc[Ri][:-2] == max(glc_r)].index[0]
    else:
        for j in n:
            glc_c[data[j][:-2].min()] = j
        Cj = glc_c[max(glc_c)]
        Ri = data[Cj][:-2][data[Cj][:-2] == max(glc_c)].index[0]       
    print('Alocation to {:s} and {:s}'.format(Ri, Cj))
    return Ri, Cj

In [7]:
ri , cj = cell_allocation(data)

Alocation to C and 2

**Step 5**

Allocation the cost to cell above with equation below:

$$ cost = b_j x_{ij} \hspace{1cm} if \hspace{1cm} a_i > b_i $$

$$ cost = a_i x_{ij} \hspace{1cm} if \hspace{1cm} a_i < b_i $$

If the cell is fulfilled, crossed out the cell in the corresponding row/column.

In [8]:
def cost_allocation(data, Ri, Cj):
    ai = data.loc[Ri, 'Supply']
    bi = data.loc['Demand', Cj]
    if ai > bi:
        cost_val = (data.loc['Demand', Cj] * data.loc[Ri, Cj]).astype(int)
        cost.append(cost_val)
        data.loc[Ri, 'Supply'] = data.loc[Ri, 'Supply'] - data.loc['Demand', Cj]
        data.drop(Cj, axis=1, inplace=True)
    else:
        cost_val = (data.loc[Ri, 'Supply'] * data.loc[Ri, Cj]).astype(int)
        cost.append(cost_val)
        data.loc['Demand', Cj] = data.loc['Demand', Cj] - data.loc[Ri, 'Supply']
        data.drop(Ri, axis=0, inplace=True)
    print('Cost: {:d}'.format(cost_val))
    return data

In [9]:
cost = []
data = cost_allocation(data, ri, cj)

Cost: 500

For the first iteration, we get the cost allocation is 500 with allocation to the row C and the column 2.

### **Loop iteration**

For the second and the next iteration we can use loop below and implement the stop procedure if the optimal solution has reached. Calculate the total cost and we get the solution.

$$total \hspace{0.1cm} cost = \sum_i^N cost_i$$

where $i =1,2,3,\cdots,N$ is the number of iterations

In [10]:
i = 1
while True:
    i += 1
    m, n = data.index[:-2], data.columns[:-2]
    print("-"*15)
    print(' Iteration', i)
    print("-"*15, '\n')
    if len(m) == 1 and len(n) == 1:
        # Stop the iteration
        if data['Supply'][:-2][0] == data.loc['Demand'][:-2][0]:
            penalty(data)
            print(data, '\n')
            cost_val = (data.loc['Demand'][:-2][0] * data.loc[m[0]][:-2][0]).astype(int)
            cost.append(cost_val)
            print('Alocation to {:s} and {:s}'.format(m[0], n[0]))
            print('Cost: {:d}'.format(cost_val))
            break
    else:    
        penalty(data)
        print(data, '\n')
        Ri, Cj = cell_allocation(data)
        cost_allocation(data, Ri, Cj)
    print()
print()
print("-"*23)
print('  Total cost:', sum(cost))
print("-"*23)

---------------
 Iteration 2
---------------

           1    3  Supply  Penalty
Index
A          6   10     150        7
B          7   11     175        7
C          4   12     175       11
Demand   200  300       0        0
Penalty    7    5       0        0

Alocation to C and 1
Cost: 700

---------------
 Iteration 3
---------------

          1    3  Supply  Penalty
Index
A         6   10     150        4
B         7   11     175        4
Demand   25  300       0        0
Penalty   1    1       0        0

Alocation to B and 1
Cost: 175

---------------
 Iteration 4
---------------

           3  Supply  Penalty
Index
A         10     150       10
B         11     150       11
Demand   300       0        0
Penalty    1       0        0

Alocation to B and 3
Cost: 1650

---------------
 Iteration 5
---------------

           3  Supply  Penalty
Index
A         10     150       10
Demand   150       0        0
Penalty   10       0        0

Alocation to A and 3
Cost: 1500

-----------------------
  Total cost: 4525
-----------------------

Finally, we get the optimal solution is 4,525 with five iterations.

### **Illustration 2**

Consider the transportation of Mahindra manufactureâ€™s of products from their various manufacturing plants to their different warehouses. Obtain the least transportation cost.

<img src="img/table 2.png" width=350px>

In [11]:
d = {'Index': ['K', 'B', 'M', 'Demand'], 
     'V': [6, 3, 4, 20],
     'C': [4, 8, 4, 95],
     'N': [1, 7, 2, 35],
     'Supply': [50, 40, 60, 0]}
data = pd.DataFrame(data=d)
data.set_index('Index', inplace=True)
data

         V   C   N  Supply
Index
K        6   4   1      50
B        3   8   7      40
M        4   4   2      60
Demand  20  95  35       0

In [12]:
data = is_balanced(data)

Supply = Demand : 150

In [13]:
cost = []
i = 0
while True:
    i += 1
    m, n = data.index[:-2], data.columns[:-2]
    print("-"*15)
    print(' Iteration', i)
    print("-"*15, '\n')
    if len(m) == 1 and len(n) == 1:
        # Stop the iteration
        if data['Supply'][:-2][0] == data.loc['Demand'][:-2][0]:
            penalty(data)
            print(data, '\n')
            cost_val = (data.loc['Demand'][:-2][0] * data.loc[m[0]][:-2][0]).astype(int)
            cost.append(cost_val)
            print('Alocation to {:s} and {:s}'.format(m[0], n[0]))
            print('Cost: {:d}'.format(cost_val))
            break
    else:    
        penalty(data)
        print(data, '\n')
        Ri, Cj = cell_allocation(data)
        cost_allocation(data, Ri, Cj)
    print()
print()
print("-"*23)
print('  Total cost:', sum(cost))
print("-"*23)

---------------
 Iteration 1
---------------

          V   C   N  Supply  Penalty
Index
K         6   4   1      50       11
B         3   8   7      40       12
M         4   4   2      60        7
Demand   20  95  35       0        0
Penalty   7   7  10       0        0

Alocation to B and V
Cost: 60

---------------
 Iteration 2
---------------

          C   N  Supply  Penalty
Index
K         4   1      50        6
B         8   7      20        4
M         4   2      60        5
Demand   95  35       0        0
Penalty   6   9       0        0

Alocation to K and N
Cost: 35

---------------
 Iteration 3
---------------

          C  Supply  Penalty
Index
K         4      15        7
B         8      20       11
M         4      60        7
Demand   95       0        0
Penalty   5       0        0

Alocation to B and C
Cost: 160

---------------
 Iteration 4
---------------

          C  Supply  Penalty
Index
K         4      15        4
M         4      60        4
Demand   75       0        0
Penalty   0       0        0

Alocation to M and C
Cost: 240

---------------
 Iteration 5
---------------

          C  Supply  Penalty
Index
K         4      15        4
Demand   15       0        0
Penalty   4       0        0

Alocation to K and C
Cost: 60

-----------------------
  Total cost: 555
-----------------------

### **Illustration 3** 

Consider the transportation problem from the unbalanced table bellow.

<img src="img/table 3.png" width=350px>

In [14]:
d = {'Index': ['A', 'B', 'C', 'D', 'E', 'Demand'], 
     'X': [60, 58, 62, 65, 70, 5000],
     'Y': [120, 100, 110, 115, 135, 2000],
     'Z': [75, 60, 65, 80, 85, 10000],
     'U': [180, 165, 170, 175, 195, 6000],
     'Supply': [8000, 9200, 6250, 4900, 6100, 0]}
data = pd.DataFrame(data=d)
data.set_index('Index', inplace=True)
data

           X     Y      Z     U  Supply
Index
A         60   120     75   180    8000
B         58   100     60   165    9200
C         62   110     65   170    6250
D         65   115     80   175    4900
E         70   135     85   195    6100
Demand  5000  2000  10000  6000       0

In [15]:
data = is_balanced(data)

Supply > Demand : 34450 > 23000

In [16]:
cost = []
i = 0
while True:
    i += 1
    m, n = data.index[:-2], data.columns[:-2]
    print("-"*15)
    print(' Iteration', i)
    print("-"*15, '\n')
    if len(m) == 1 and len(n) == 1:
        # Stop the iteration
        if data['Supply'][:-2][0] == data.loc['Demand'][:-2][0]:
            penalty(data)
            print(data, '\n')
            cost_val = (data.loc['Demand'][:-2][0] * data.loc[m[0]][:-2][0]).astype(int)
            cost.append(cost_val)
            print('Alocation to {:s} and {:s}'.format(m[0], n[0]))
            print('Cost: {:d}'.format(cost_val))
            break
    else:    
        penalty(data)
        print(data, '\n')
        Ri, Cj = cell_allocation(data)
        cost_allocation(data, Ri, Cj)
    print()
print()
print("-"*23)
print('  Total cost:', sum(cost))
print("-"*23)

---------------
 Iteration 1
---------------

            X     Y      Z     U    Dum  Supply  Penalty
Index
A          60   120     75   180      0    8000      440
B          58   100     60   165      0    9200      388
C          62   110     65   170      0    6250      412
D          65   115     80   175      0    4900      440
E          70   135     85   195      0    6100      490
Demand   5000  2000  10000  6000  11450       0        0
Penalty    30    85     70    65      5       0        0

Alocation to E and Dum
Cost: 0

---------------
 Iteration 2
---------------

            X     Y      Z     U   Dum  Supply  Penalty
Index
A          60   120     75   180     0    8000      439
B          58   100     60   165     0    9200      387
C          62   110     65   170     0    6250      411
D          65   115     80   175     0    4900      439
Demand   5000  2000  10000  6000  5350       0        0
Penalty    18    50     45    35     5       0        0

Alocation to D and Dum
Cost: 0

---------------
 Iteration 3
---------------

            X     Y      Z     U  Dum  Supply  Penalty
Index
A          60   120     75   180    0    8000      438
B          58   100     60   165    0    9200      386
C          62   110     65   170    0    6250      410
Demand   5000  2000  10000  6000  450       0        0
Penalty    11    35     25    25    5       0        0

Alocation to A and Dum
Cost: 0

---------------
 Iteration 4
---------------

            X     Y      Z     U  Supply  Penalty
Index
A          60   120     75   180    7550      198
B          58   100     60   165    9200      154
C          62   110     65   170    6250      162
Demand   5000  2000  10000  6000       0        0
Penalty    10    34     24    24       0        0

Alocation to A and X
Cost: 300000

---------------
 Iteration 5
---------------

            Y      Z     U  Supply  Penalty
Index
A         120     75   180    2550      153
B         100     60   165    9200      148
C         110     65   170    6250      153
Demand   2000  10000  6000       0        0
Penalty    33     23    23       0        0

Alocation to A and Z
Cost: 191250

---------------
 Iteration 6
---------------

            Y     Z     U  Supply  Penalty
Index
B         100    60   165    9200      147
C         110    65   170    6250      152
Demand   2000  7450  6000       0        0
Penalty    13     8     8       0        0

Alocation to C and Z
Cost: 406250

---------------
 Iteration 7
---------------

            Y     Z     U  Supply  Penalty
Index
B         100    60   165    9200      146
Demand   2000  1200  6000       0        0
Penalty   103    63   168       0        0

Alocation to B and U
Cost: 990000

---------------
 Iteration 8
---------------

            Y     Z  Supply  Penalty
Index
B         100    60    3200       40
Demand   2000  1200       0        0
Penalty   100    60       0        0

Alocation to B and Y
Cost: 200000

---------------
 Iteration 9
---------------

            Z  Supply  Penalty
Index
B          60    1200       60
Demand   1200       0        0
Penalty    60       0        0

Alocation to B and Z
Cost: 72000

-----------------------
  Total cost: 2159500
-----------------------